:root {

    /* || Colors || */
    --brown-shade-1: #fffdfa;
    --brown-shade-2: #f4efe6;
    --brown-shade-3: #a39781;
    --brown-shade-4: #806e54;
    --brown-shade-5: #5f5138; 
    --brown-shade-6: #3c3831;
    --brown-shade-7: #2e2c28;
    --yellow-shade-1: #efc577;
    --yellow-shade-2: #ce9324;
    --white: #fff;
    --black: #000;
    --gray: #f3f3f3;

    --color-bg-primary: var(--brown-shade-2);
    --color-bg-primary-light: var(--brown-shade-1);
    --color-bg-primary-dark: var(--brown-shade-6);
    --color-text-primary: var(--brown-shade-5);
    --color-text-primary-light: var(--brown-shade-3);
    --color-text-primary-dark: var(--brown-shade-7);
    --color-light: var(--white);
    --color-dark: var(--black);
    --color-accent: var(--yellow-shade-2);
    --color-gray: var(--gray);

    /* || Typography || */
    --font-main: 'Montserrat', sans-serif;
    --font-paragraph: 'Ubuntu', sans-serif;

    --font-size-xs: 0.75rem;
    --font-size-sm: 0.875rem;
    --font-size-base: 16px;
    --font-size-md: 1.125rem;
    --font-size-lg:1.25rem; 
    --font-size-xl: 1.5rem;
    --font-size-2xl: 2rem;
    --font-size-3xl: 2.5rem;

    --font-weight-light: 300;
    --font-weight-normal: 400;
    --font-weight-medium: 500;
    --font-weight-bold: 700;

    --line-height-base: 1.6;
    --line-height-heading: 1.2;

    --letter-spacing-base: 0.05rem;
    --letter-spacing-heading: 0.2rem;
    --letter-spacing-heading-lg: 0.5rem;

    /* || Spacing || */
    --space-1: 2px;
    --space-2: 4px;
    --space-3: 8px;
    --space-4: 16px;
    --space-5: 32px;
    --space-6: 64px;
    --space-7: 128px;

    /* || Border Radius || */
    --radius-sm: 4px;
    --radius-md: 8px;
    --radius-lg: 16px;

    /* || Breakpoints || */
    --breakpoint-sm: 576px;
    --breakpoint-md: 768px;
    --breakpoint-lg: 1024px;
    --breakpoint-xl: 1280px;
}