/* || For home page styles  */

/* || COVER */

.cover {
    background: var(--bg-mid); /* fallback for older browsers that don't support gradients */
    background: linear-gradient(-45deg, var(--brown-shade-3), var(--bg-mid), var(--bg-light));
    background-size: 400% 400%;
    -webkit-animation: Gradient 15s ease infinite;
	-moz-animation: Gradient 15s ease infinite;
    animation: Gradient 15s ease infinite;
    height: 100vh;
    position: relative;
}

.cover-logo {
    width: 80%;
    max-width: 530px;
    margin: 3rem 0;
    align-self: center;
}

.cover-content {
    text-align: center;
}

.cover-content h2,
.cover-content li {
    letter-spacing: .2em;
}

.cover-is-a {
    font-size: 1.5rem;
}

.cover-job-container {
    overflow: hidden;
    height: 40px;
    margin: 3rem 0;
}

.cover-job-list {
    color: var(--text-mid);
    padding-left: 0;
    list-style: none;
    margin-top: 0;
    animation: Change 13s infinite;
}

.cover-job-list-item {
    font-size: 1.5rem;
    font-weight: 700;
    line-height: 40px;
}

.cover-arrow {
    position: absolute;
    bottom: 10%;
    left: 48%;
    display: flex;
}

.round {
    position: relative;
    border: 2px solid var(--text-mid);
    width: 50px;
    height: 50px;
    border-radius: 100%;
}

.round:active {
    border-color: var(--yellow-shade-2);
}

.round span {
    z-index: 1;
    height: 3px;
    margin: 1px;
    width: 13.5px;
    background: var(--text-mid);
    transition: 0.4s ease;
}

.round span:active {
    background: var(--yellow-shade-2);
}

.round span:first-child {
    display: block;
    position: absolute;
    transform: rotate(45deg);
    left: 25%;
    bottom: 35%;
}

.round span:nth-child(2) {
    display: block;
    position: absolute;
    transform: rotate(-45deg);
    left: 45%;
    bottom: 35%;
}

.round span:nth-child(3) {
    display: block;
    position: absolute;
    transform: rotate(45deg);
    left: 25%;
    bottom: 54%;
}

.round span:nth-child(4) {
    display: block;
    position: absolute;
    transform: rotate(-45deg);
    left: 45%;
    bottom: 54%;
}

.round:hover span:nth-child(1) {
    transform: rotate(-135deg);
}

.round:hover span:nth-child(2) {
    transform: rotate(135deg);
}

.round:hover span:nth-child(3) {
    transform: rotate(225deg);
}

.round:hover span:nth-child(4) {
    transform: rotate(-225deg);
}

@-webkit-keyframes Gradient {
	0% { background-position: 0% 50% }
	50% { background-position: 100% 50% }
	100% { background-position: 0% 50% }
}

@-moz-keyframes Gradient {
	0% { background-position: 0% 50% }
	50% { background-position: 100% 50% }
	100% { background-position: 0% 50% }
}

@keyframes Gradient {
	0% { background-position: 0% 50% }
	50% { background-position: 100% 50% }
	100% { background-position: 0% 50% }
}

@keyframes Change {
    0%, 12.66%, 100% {transform: translate3d(0,0,0);}
    16.66%, 29.32% {transform: translate3d(0,-25%,0);}
    33.32%,45.98% {transform: translate3d(0,-50%,0);}
    49.98%,62.64% {transform: translate3d(0,-75%,0);}
    66.64%,79.3% {transform: translate3d(0,-50%,0);}
    83.3%,95.96% {transform: translate3d(0,-25%,0);}
}

/* || SECTION - Projects */

.projects {
    padding-top: 3rem;
    padding-bottom: 5rem;
}

.projects-image-container {
    justify-content: space-between;
    flex-wrap: wrap;
}

.projects-item {
    flex-basis: 100%;
    padding: 2rem;
}

@media screen and (min-width: 600px) {
    .projects-item{
        flex-basis: 50%;
        padding: 2rem;
    }
}

.projects-item img {
    width: 100%;
    margin-bottom: 1rem;
}

.projects-item img:hover,
.projects-item img:active {
    transition: all .2s ease-in-out;
    transform: scale(1.05);
}

.projects-item p {
    font-family: 'Montserrat', sans-serif;
    text-align: center;
}

.projects-name {
    font-size: 1.4rem;
    font-weight: 700;
    margin: 1rem 0;
    color: var(--text-mid);
}

.projects-tech {
    font-size: .9rem;
    color: var(--text-light);
}

.projects-image-container div {
    animation: FadeInImage 2s linear;
    animation-fill-mode: both;
}

.projects-image-container div:nth-child(1) { animation-delay: 0s }
.projects-image-container div:nth-child(2) { animation-delay: 0.5s }
.projects-image-container div:nth-child(3) { animation-delay: 1s }
.projects-image-container div:nth-child(4) { animation-delay: 1.5s }
.projects-image-container div:nth-child(5) { animation-delay: 2s }
.projects-image-container div:nth-child(6) { animation-delay: 2.5s }
.projects-image-container div:nth-child(7) { animation-delay: 3s }
.projects-image-container div:nth-child(8) { animation-delay: 3.5s }
/* .projects-image-container div:nth-child(9) { animation-delay: 6s } */

@keyframes FadeInImage { 
    0% {
      opacity: 0;
      transform: scale(.1);
    }
  
    85% {
      opacity: 1;
      transform: scale(1.05);
    }

    100% {
        transform: scale(1);
    }
}

/* || SECTION - About */

.about {
    padding-top: 3rem;
    padding-bottom: 4rem;
}

.about-intro {
    padding: 0 2rem;
    max-width: 700px;
    margin: 1rem auto;
}

.about-intro-text {
    font-size: 1.2rem;
    color: var(--text-mid);
    line-height: 2.5rem;
}

/* || SECTION - Skils */

.skills {
    padding-top: 3rem;
}

.skills-items-container {
    flex-wrap: wrap;
    padding: 0 2rem;
    padding-bottom: 100px;
}

.skill-icon {
    width: 70px;
    display: block;
    margin: 30px auto;
}

.skills-item {
    flex-basis: 100%;
}

@media screen and (min-width: 700px) {
    .skills-item{
        flex-basis: 33%;
    }
}

.skills-item h4 {
    text-align: center;
    font-size: 1.1rem;
    letter-spacing: .05em;
    color: var(--text-mid);
}

.skills-item ul {
    padding-left: 0;
    list-style: none;
    text-align: center;
}

.skills-item li {
    font-size: .9rem;
    margin: 15px 0;
}


/* || SECTION - Experience */

.experience {
    padding: 3rem 2rem;
}

.experience-timeline-container {
    width: 100%;
    margin: 2rem auto;
}

.timeline-blocks::before {
    content: '';
    position: absolute;
    top: 60px;
    left: 30px;
    height: 100%;
    width: 1px;
    background-color: #1D1D1F;
}

.timeline-blocks:last-child:before {
    height: 0;
}

.timeline-blocks {
    margin: 3rem 0;
    display: flex;
    position: relative;
}

@media screen and (min-width: 700px) {
    .timeline-blocks{
        margin: 3rem 2rem;
    }
}

.timeline-img {
    min-width: 60px;
}

.timeline-content {
    margin: 0 30px;
}

.timeline-content a {
    color: var(--text-mid);
}

.timeline-content a > h3:hover {
    color: var(--yellow-shade-2);
}

.timeline-content h3 {
    margin-top: 0;
    margin-bottom: .5rem;
    color: var(--text-mid);
}

.timeline-content p {
    font-family: 'Montserrat', sans-serif;
    font-size: .9rem;
    line-height: 1.5rem;
    margin-top: 0;
    margin-bottom: .6rem;
    color: var(--text-light);
}

.timeline-content-tags span {
    font-size: .7rem;
    background-color: var(--brown-shade-5);
    color: var(--light);
    text-transform: uppercase;
    padding: .3rem .4rem;
    line-height: 2rem;
}

/* || FOOTER */

footer {
    background-color: #1D1D1F;
    color: var(--light);
    padding-top: 3rem;
    padding-bottom: 3rem; 
}

.footer .section-title {
    color: var(--light);
}

.contact-wrapper {
    padding: 0 2rem;
    max-width: 700px;
    margin: 1rem auto;
}

.contact-text {
    font-size: 1rem;
    line-height: 2rem;
    color: var(--light);
}

.contact-email {
    text-align: center;
    margin-top: 5rem;
    font-weight: 300;
    font-size: 1.4rem;
    color: var(--light);
}

.contact-email:hover {
    color: var(--yellow-shade-2);
}


.contact-icons {
    display: flex;
    justify-content: center;
    margin-top: 20px;
    margin-bottom: 100px;
}

.contact-icon-wrapper img {
    width: 30px;
    height: 30px;
    filter: grayscale(100%);
    margin: 20px;
}

.contact-icon-wrapper p {
    color: var(--yellow-shade-2);
    margin-top: 0;
    font-size: .8rem;
    text-align: center;
    opacity: 0;
}

.contact-icon-wrapper:hover img,
.contact-icon-wrapper:active img {
    filter: grayscale(0%);
}

.contact-icon-wrapper:hover p,
.contact-icon-wrapper:active p {
    opacity: 1;
}

.footer-text {
    font-size: .8rem;
    line-height: 1.2rem;
    text-align: center;
    padding-left: 2rem;
    padding-right: 2rem;
    color: var(--light);
}