/* || For all project pages styles  */

/* || GENERAL STYLES */

.project {
    padding-top: var(--space-6);

    .header {
        padding: var(--space-5);
    }

    .project-title {
        font-size: var(--font-size-3xl);
        font-weight: var(--font-weight-bold);
        letter-spacing: var(--letter-spacing-heading);
        text-align: center;
        text-transform: uppercase;
    }

    .project-subtitle {
        max-width: 700px;
        font-size: var(--font-size-lg);
        font-weight: var(--font-weight-light);
        line-height: 2rem;
        text-align: center;
        margin: var(--space-1) auto var(--space-6) auto;
    }

    .section-spacer {
        padding-top: var(--space-7);
        padding-bottom: var(--space-7);
    }

    .section-title {
        font-size: var(--font-size-2xl);
        text-align: center;
        margin-bottom: var(--space-5);
    }

    .section-description {
        max-width: 700px;
        font-size: var(--font-size-base);
        line-height: 2rem;
        margin-left: auto;
        margin-right: auto;
        padding-left: var(--space-5);
        padding-right: var(--space-5);
    }

    @media screen and (min-width: 768px) {
        .section-description {
            font-size: var(--font-size-md);
        }
    }

    .project-info {

        .card {
            color: #1d1d1f;
            border: var(--color-text-primary-light) 1px solid;
            margin: var(--space-6) var(--space-5);
            padding: var(--space-5);

            h3 {
                font-size: var(--font-size-sm);
                text-transform: uppercase;
                margin-bottom: var(--space-4);
            }

            span {
                font-weight: var(--font-weight-light);
                text-transform: none;
                line-height: 1.2rem;
                display: block;
            }

            .link {
                display: block;
            }

            a {
                color: var(--color-primary);
                text-decoration: underline;
                word-break: break-all;
            }

            a:hover {
                color: var(--color-accent);
            }
        }

        @media screen and (min-width: 768px) {
            .card {
                padding: var(--space-6);

                span {
                    display: inline-block;
                    margin-left: var(--space-5);
                }

                .link {
                    display: inline-block;
                }
            }
        }

        @media screen and (min-width: 1024px) {
            .card {
                margin: var(--space-6) auto;
            }
        }
    }

    .project-mobile-screenshot {
        height: 350px;
    }

    .screenshot-group .project-mobile-screenshot {
        margin: var(--space-4);
    }

    .project-image-shadow {
        box-shadow: 0 3px 10px 0 rgba(0, 0, 0, 0.10);
    }

    .project-section-list {
        font-size: var(--font-size-base);
        line-height: 2rem;
        list-style-type: circle;
        list-style-position: inside;
        padding-left: 0;
    }

    @media screen and (min-width: 768px) {
        .section-description {
            font-size: var(--font-size-md);
        }
    }

    .footer {
        padding-top: var(--space-5);
        padding-bottom: var(--space-5);
    }
}

/* || PROJECT - echo */

.echo {

    .header,
    .homepage,
    .survey {
        background-color: #b6d3d4;
    }

    .header img {
        width: 80%;
        max-width: 450px;
    }

    .project-section-list-container,
    .homepage div {
        flex-basis: 100%;
        flex-wrap: wrap;
    }

    .homepage img {
        height: 500px;
    }

    .process img {
        width: 100%;
        max-width: 750px;
    }

    .process .image-container {
        padding-left: var(--space-5);
        padding-right: var(--space-5);
    }

    @media screen and (min-width: 576px) {
        .project-section-list-container {
            flex-basis: 50%;
            align-self: center;
        }

        .homepage div {
            flex-basis: 50%;
        }
    }

    @media screen and (min-width: 768px) {
        .process img {
            padding-left: var(--space-0);
            padding-right: var(--space-0);
        }
    }
}

/* || PROJECT - east van roasters */

.evr {

    .header,
    .theme,
    .responsive {
        background-color: #333;
        color: var(--color-light);
    }

    .header img {
        width: 90%;
        max-width: 700px;
    }

    .intro img,
    .theme img, 
    .sitemap img {
        width: 100%;
        max-width: 640px;
    }

    .theme ul {
        font-family: var(--font-paragraph);
        list-style-position: inside;
    }

    .theme .evr-login-image {
        box-shadow: 0 2px 10px 0 rgba(0, 0, 0, 0.4);
    }

    .responsive .desktop img {
        width: 100%;
        max-width: 480px;
    }

    @media screen and (min-width: 576px) {
        .cover {
            width: 70%;
        }
    }

    @media screen and (min-width: 768px) {
        .theme ul{
            max-width: 700px;
            margin: 0 auto;
        }
    }
}

/* || PROJECT - MB */

.mb {

    .header img {
        width: 80%;
        max-width: 700px;
    }

    .issue img {
        width: 100%;
        max-width: 700px;
    }

    .articles .images-wrapper,
    .ads .images-wrapper {
        padding-left: var(--space-5);
        padding-right: var(--space-5);
    }

    @media screen and (min-width: 768px) {
        .articles .images-wrapper,
        .ads .images-wrapper {
            padding-left: 0;
            padding-right: 0;
        }
    }

    .article-image {
        width: 100%;
        display: block;
        margin: var(--space-5) auto;
    }
}

/* || PROJECT - autoapp.ca */

.autoapp {

    .header,
    .sitemap {
        background-color: #01385f;
    }

    .header img {
        width: 100%;
        max-width: 700px;
    }

    @media screen and (min-width: 768px) {
        .header img {
            width: 90%;
        }
    }

    .sitemap img,
    .style-guide-colors img {
        width: 90%;
        max-width: 750px;
    }

    .user-guide {
        background-color: #fafafa;
    }

    .user-guide img {
        width: 100%;
    }

    .style-guide-typography img{
        width: 80%;
        max-width: 700px; 
    }
}

/* || PROJECT - redence */

.redence {

    .header {
        background-color: #e2231a;
    }

    .login {
        background-color: #fafafa;
    }

    .header img,
    .intro img,
    .process img {
        width: 90%;
        max-width: 700px;
    }

    .teacher img,
    .login img {
        width: 90%;
        max-width: 950px;
    }

    .student img {
        height: 400px;
    }
}

/* || PROJECT - homapp */

.homapp {

    .header img {
        width: 90%;
        max-width: 900px;
    }

    .redesign img {
        width: 95%;
        max-width: 950px;
    }

    .new-design {
        background-color: #fafafa;
    }

    .user-flow img {
        width: 90%;
        max-width: 950px;
    }
}

/* || PROJECT - vancoolver */

.vancoolver {

    .header {
        background-color: #f05123;
    }

    .redesign {
        background-color: #fafafa;
    }
    
    .header img {
        width: 100%;
        max-width: 900px;
    }

    .icons img {
        width: 95%;
        max-width: 700px;
    }

    .redesign img {
        width: 95%;
        max-width: 950px;
    }
}

/* || PROJECT - smart select */

.smart-select {
    
    .header img {
        width: 60%;
        max-width: 300px;
    }

    .intro img {
        width: 90%;
        max-width: 750px;
    }

    .covers img,
    .articles img {
        width: 100%;
        max-width: 950px;
    }

    .articles {
        background-color: #fafafa;
    }
}