/* || For all project pages styles || */

/* || GENERAL STYLES || */

.project {
    padding-top: var(--space-6);
}

.project .header {
    padding: var(--space-5);
}

.project .project-title {
    font-size: var(--font-size-3xl);
    font-weight: var(--font-weight-bold);
    letter-spacing: var(--letter-spacing-heading);
    text-align: center;
    text-transform: uppercase;
}

.project .project-subtitle {
    max-width: 700px;
    font-size: var(--font-size-lg);
    font-weight: var(--font-weight-light);
    line-height: 2rem;
    text-align: center;
    margin: var(--space-1) auto var(--space-6) auto;
}

.project .section-spacer {
    padding-top: var(--space-7);
    padding-bottom: var(--space-7);
}

.project .section-title {
    font-size: var(--font-size-2xl);
    text-align: center;
    margin-bottom: var(--space-5);
}

.project .section-description {
    max-width: 700px;
    font-size: var(--font-size-base);
    line-height: 2rem;
    margin-left: auto;
    margin-right: auto;
    padding-left: var(--space-5);
    padding-right: var(--space-5);
}

@media screen and (min-width: 768px) {
    .project .section-description {
        font-size: var(--font-size-md);
    }
}

.project .project-info .card {
    color: #1d1d1f;
    border: var(--color-text-primary-light) 1px solid;
    margin: var(--space-6) var(--space-5);
    padding: var(--space-5);
}

.project .project-info .card h3 {
    font-size: var(--font-size-sm);
    text-transform: uppercase;
    margin-bottom: var(--space-4);
}

.project .project-info .card span {
    font-weight: var(--font-weight-light);
    text-transform: none;
    line-height: 1.2rem;
    display: block;
}

.project .project-info .card .link {
    display: block;
}

.project .project-info .card a {
    color: var(--color-primary);
    text-decoration: underline;
    word-break: break-all;
}

.project .project-info .card a:hover {
    color: var(--color-accent);
}

@media screen and (min-width: 768px) {
    .project .project-info .card {
        padding: var(--space-6);

        span {
            display: inline-block;
            margin-left: var(--space-5);
        }

        .link {
            display: inline-block;
        }
    }
}

@media screen and (min-width: 1024px) {
    .project .project-info .card {
        margin: var(--space-6) auto;
    }
}

.project .project-mobile-screenshot {
    height: 350px;
}

.project .screenshot-group .project-mobile-screenshot {
    margin: var(--space-4);
}

.project .project-image-shadow {
    box-shadow: 0 3px 10px 0 rgba(0, 0, 0, 0.10);
}

.project .project-section-list {
    font-size: var(--font-size-base);
    line-height: 2rem;
    list-style-type: circle;
    list-style-position: inside;
    padding-left: 0;
}

@media screen and (min-width: 768px) {
    .project .section-description {
        font-size: var(--font-size-md);
    }
}

.project .footer {
    padding-top: var(--space-5);
    padding-bottom: var(--space-5);
}

/* || PROJECT - echo || */

.echo .header,
.echo .homepage,
.echo .survey {
    background-color: #b6d3d4;
}

.echo .header img {
    width: 80%;
    max-width: 450px;
}

.echo .project-section-list-container,
.echo .homepage div {
    flex-basis: 100%;
    flex-wrap: wrap;
}

.echo .homepage img {
    height: 500px;
}

.echo .process img {
    width: 100%;
    max-width: 750px;
}

.echo .process .image-container {
    padding-left: var(--space-5);
    padding-right: var(--space-5);
}

@media screen and (min-width: 576px) {
    .echo .project-section-list-container {
        flex-basis: 50%;
        align-self: center;
    }

    .echo .homepage div {
        flex-basis: 50%;
    }
}

@media screen and (min-width: 768px) {
    .echo .process img {
        padding-left: var(--space-0);
        padding-right: var(--space-0);
    }
}

/* || PROJECT - east van roasters || */

.evr .header,
.evr .theme,
.evr .responsive {
    background-color: #333;
    color: var(--color-light);
}

.evr .header img {
    width: 90%;
    max-width: 700px;
}

.evr .intro img,
.evr .theme img, 
.evr .sitemap img {
    width: 100%;
    max-width: 640px;
}

.evr .theme ul {
    font-family: var(--font-paragraph);
    list-style-position: inside;
}

.evr .theme .evr-login-image {
    box-shadow: 0 2px 10px 0 rgba(0, 0, 0, 0.4);
}

.evr .responsive .desktop img {
    width: 100%;
    max-width: 480px;
}

@media screen and (min-width: 576px) {
    .evr .cover {
        width: 70%;
    }
}

@media screen and (min-width: 768px) {
    .evr .theme ul{
        max-width: 700px;
        margin: 0 auto;
    }
}

/* || PROJECT - MB || */

.mb .header img {
    width: 80%;
    max-width: 700px;
}

.mb .issue img {
    width: 100%;
    max-width: 700px;
}

.mb .articles .images-wrapper,
.mb .ads .images-wrapper {
    padding-left: var(--space-5);
    padding-right: var(--space-5);
}

@media screen and (min-width: 768px) {
    .mb .articles .images-wrapper,
    .mb .ads .images-wrapper {
        padding-left: 0;
        padding-right: 0;
    }
}

.mb .article-image {
    width: 100%;
    display: block;
    margin: var(--space-5) auto;
}

/* || PROJECT - autoapp.ca || */

.autoapp .header,
.autoapp .sitemap {
    background-color: #01385f;
}

.autoapp .header img {
    width: 100%;
    max-width: 700px;
}

@media screen and (min-width: 768px) {
    .autoapp .header img {
        width: 90%;
    }
}

.autoapp .sitemap img,
.autoapp .style-guide-colors img {
    width: 90%;
    max-width: 750px;
}

.autoapp .user-guide {
    background-color: #fafafa;
}

.autoapp .user-guide img {
    width: 100%;
}

.autoapp .style-guide-typography img{
    width: 80%;
    max-width: 700px; 
}

/* || PROJECT - redence || */

.redence .header {
    background-color: #e2231a;
}

.redence .login {
    background-color: #fafafa;
}

.redence .header img,
.redence .intro img,
.redence .process img {
    width: 90%;
    max-width: 700px;
}

.redence .teacher img,
.redence .login img {
    width: 90%;
    max-width: 950px;
}

.redence .student img {
    height: 400px;
}

/* || PROJECT - homapp || */

.homapp .header img {
    width: 90%;
    max-width: 900px;
}

.homapp .redesign img {
    width: 95%;
    max-width: 950px;
}

.homapp .new-design {
    background-color: #fafafa;
}

.homapp .user-flow img {
    width: 90%;
    max-width: 950px;
}

/* || PROJECT - vancoolver || */

.vancoolver .header {
        background-color: #f05123;
    }

.vancoolver .redesign {
    background-color: #fafafa;
}

.vancoolver .header img {
    width: 100%;
    max-width: 900px;
}

.vancoolver .icons img {
    width: 95%;
    max-width: 700px;
}

.vancoolver .redesign img {
    width: 95%;
    max-width: 950px;
}

/* || PROJECT - smart select || */

.smart-select .header img {
    width: 60%;
    max-width: 300px;
}

.smart-select .intro img {
    width: 90%;
    max-width: 750px;
}

.smart-select .covers img,
.smart-select .articles img {
    width: 100%;
    max-width: 950px;
}

.smart-select .articles {
    background-color: #fafafa;
}